NET "Clk" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "RST" LOC = "L13" | IOSTANDARD = LVTTL | PULLUP ;
NET "OUT[0]" LOC = "F12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "OUT[1]" LOC = "E12" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "OUT[2]" LOC = "E11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "OUT[3]" LOC = "F11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
