//! **************************************************************************
// Written by: Map P.20131013 on Mon Sep 16 07:12:12 2024
//! **************************************************************************

SCHEMATIC START;
COMP "SL<0>" LOCATE = SITE "L13" LEVEL 1;
COMP "SL<1>" LOCATE = SITE "L14" LEVEL 1;
COMP "SL<2>" LOCATE = SITE "H18" LEVEL 1;
COMP "SL<3>" LOCATE = SITE "N17" LEVEL 1;
COMP "OUT" LOCATE = SITE "F11" LEVEL 1;
COMP "IN<0>" LOCATE = SITE "H13" LEVEL 1;
COMP "IN<1>" LOCATE = SITE "K17" LEVEL 1;
COMP "IN<5>" LOCATE = SITE "D18" LEVEL 1;
COMP "IN<8>" LOCATE = SITE "V4" LEVEL 1;
COMP "IN<9>" LOCATE = SITE "V16" LEVEL 1;
SCHEMATIC END;

